---
import Layout from '../layouts/Layout.astro'

// - SEO
const SEO = {
	title: 'Privacy Policy | Canary Oncoceutics',
	description: ''
}
---

<Layout title={SEO.title} description={SEO.description}>
	<div class="mx-auto w-full max-w-screen-lg px-10 py-10 pb-5">
		<div class="mb-8 flex w-full justify-center">
			<div class="w-fit text-center">
				<h2 class="border-b-2 border-primary-400 pb-2">Privay Policy</h2>
			</div>
		</div>
		<div class="">
			<div class="">
				<div class="">
					<span class=""> </span>
				</div>
			</div>
		</div>
		<p class="mb-4 text-xl font-medium">
			By using the Canary Oncoceutics website and placing an order for services, you agree to be
			bound by the following terms and conditions:
		</p>
	</div>

	<main class="mx-auto max-w-4xl px-4 py-8 pt-0">
		<div class="space-y-8">
			<section class="prose prose-slate max-w-none">
				<div class="space-y-6">
					<div>
						<h2 class="mb-2 text-xl font-semibold">Cancellation and Refunds</h2>
						<p>
							Orders may be canceled up until the point where the sample processing begins, which is
							usually within 48 hours of shipment. If processing has not begun, a refund will be
							provided minus any ancillary charges associated with the sample handling.
						</p>
					</div>

					<div>
						<h2 class="mb-2 text-xl font-semibold">Non-liability Clause</h2>
						<p>
							Canary Oncoceutics disclaims any responsibility for losses or damages that may result
							from your access to or use of its website, including but not limited to all types of
							damages, whether they be direct, indirect, incidental, punitive, or consequential.
						</p>
					</div>

					<div>
						<h2 class="mb-2 text-xl font-semibold">Jurisdiction and Legal Compliance</h2>
						<p>
							Your interaction with the Canary Oncoceutics website and any reports generated are
							exclusively subject to the laws of India, which will be applied without reference to
							its conflict of law rules.
						</p>
					</div>

					<div>
						<h2 class="mb-2 text-xl font-semibold">Informed Consent</h2>
						<p>
							By using our services, you affirm that you have provided informed consent for genetic
							testing and understand the scope and limitations of the information provided by such
							tests.
						</p>
					</div>

					<div>
						<h2 class="mb-2 text-xl font-semibold">Clinical Relevance</h2>
						<p>
							The genetic information provided by our services should be consulted with registered
							healthcare professionals for interpretation and advice.
						</p>
					</div>

					<div>
						<h2 class="mb-2 text-xl font-semibold">Quality Assurance</h2>
						<p>
							Our testing procedures comply with the highest industry standards for accuracy and
							reliability, and our facilities are certified by relevant health and quality control
							authorities.
						</p>
					</div>

					<div>
						<h2 class="mb-2 text-xl font-semibold">Technological Limitations</h2>
						<p>
							NGS technology, while advanced, does have limitations. Our services may not detect all
							genetic variants and mutations, and some results may be inconclusive or require
							additional testing.
						</p>
					</div>

					<div>
						<h2 class="mb-2 text-xl font-semibold">Amendments to Terms</h2>
						<p>
							These terms may be updated periodically to reflect advancements in technology, changes
							in law, or updates in our policies. Continued use of our services after changes
							indicates acceptance of the new terms.
						</p>
					</div>

					<div>
						<h2 class="mb-2 text-xl font-semibold">User Obligations</h2>
						<p>
							You are responsible for providing accurate and complete information when using our
							services.
						</p>
					</div>

					<div>
						<h2 class="mb-2 text-xl font-semibold">Ethics and Non-Discrimination</h2>
						<p>
							Our practices adhere to high ethical standards, and we advocate for the responsible
							use of genetic information. We stand against genetic discrimination and support the
							appropriate use of genetic data.
						</p>
					</div>

					<div>
						<h2 class="mb-2 text-xl font-semibold">Management of Incidental Findings</h2>
						<p>
							If incidental findings are discovered during analysis, we have protocols to determine
							if, how, and when these should be communicated to you, in accordance with best
							practice guidelines.
						</p>
					</div>

					<div>
						<h2 class="mb-2 text-xl font-semibold">Data Privacy and Confidentiality</h2>
						<p>
							We are committed to the strictest levels of privacy. Your genetic data and personal
							information are protected under stringent data security protocols and will not be
							disclosed without your explicit consent, except as required by law.
						</p>
					</div>

					<div>
						<h2 class="mb-2 text-xl font-semibold">Personal Details</h2>
						<p>
							We take your privacy seriously. We collect your personal information only through Test
							Requisition Forms, purchases, or when you seek assistance from us. This information
							typically includes your name, email, residential address, and phone number. We use
							this information solely to deliver requested services, communicate about your orders,
							and respond to inquiries. Your personal information is never sold or leased. We may
							share it with third parties only for order processing or customer service purposes,
							and where legal obligations necessitate disclosure. Although we actively take measures
							to shield your information from unauthorized access or disclosure, complete security
							for data transmitted or stored online cannot be guaranteed.
						</p>
					</div>
				</div>
			</section>
		</div>
	</main>
</Layout>
