---
// ProcessSteps.astro

const steps = [
	{
		title: '',
		content:
			'Consult your doctor/physician to determine if you are a suitable candidate for Canary’s tests.'
	},
	{
		title: '',
		content: 'Doctor/Physician will start the paper work to begin the process.'
	},
	{
		title: '',
		content:
			'Your sample will be collected from the pathology lab and then it will be sent to our sequencing lab.'
	},
	{
		title: '',
		content:
			'The sequencing lab will extract the DNA and conduct next-generation sequencing to assess the genomic sequence of your sample.'
	},
	{
		title: '',
		content:
			'Once your genomic sequence is ready, it will undergo Canary’s Proprietary Analytic Pipeline as per your doctor’s selected test plan to identify specific DNA alterations linked to cancer.'
	},
	{
		title: '',
		content:
			'Canary’s Proprietary Analytic Pipeline generates an in-depth comprehensive, personalized diagnostic report that contains details of genetic alterations and associated tailored therapies potentially leading to better treatment options for you.'
	},
	{
		title: '',
		content: 'Immediately upon completion, this personalized report is sent to your physician.'
	},
	{
		title: '',
		content: 'This entire process takes 14 days.'
	}
]

const title = 'Testing Process'
---

<div class="mx-auto max-w-3xl p-6">
	<h1 class="mb-8 text-center text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
		{title}
	</h1>

	<div class="space-y-12">
		{
			steps.map((step, index) => (
				<div class="flex items-start border-t-2 border-primary-800">
					<div class="flex h-16 w-16 flex-shrink-0 items-center justify-center rounded-b-full bg-primary-800 text-2xl font-bold text-white">
						{String(index + 1).padStart(2, '0')}
					</div>
					<div class="pl-5 pt-2">
						<h2 class="mb-1 text-xl font-semibold text-primary-800">{step.title}</h2>
						<p class="text-base font-medium">{step.content}</p>
					</div>
				</div>
			))
		}
	</div>
</div>
